@import "tailwindcss";

:root {
  --background: #6b6868;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #797575;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-source-code-pro), monospace;
}

@keyframes smooth-blink {

  0%,
  100% {
    border-color: transparent;
  }

  50% {
    border-color: #2563eb;
  }
}

.typing-cursor {
  border-right: 3px solid #2563eb;
  animation: smooth-blink 1s infinite;
}